In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list the files in the input directory

import os
print(os.listdir("../input"))

# Any results you write to the current directory are saved as output.

['575-cosine-similarity', 'csc-575-final-project-kaggle-winter-2019', '575rawcosinesim', 'predict-jiaxi-tfidf', 'create-brank-features', '575-spacy-similarity-and-common-words', 'csc-575-final-project-common-numbers', 'fork-of-575-preprocess-2']

In [2]:
raw_cosine_similarity = pd.read_csv("../input/575-cosine-similarity/exp_stemmed_cos_sim.csv", header= None)

In [3]:
df = pd.read_csv("../input/predict-jiaxi-tfidf/df_all_tfidf.csv")

In [4]:
df.head()

   cos_description_tfidf         ...           cos_attribute_tfidf
0               0.181655         ...                      0.108474
1               0.000000         ...                      0.000000
2               0.000000         ...                      0.000000
3               0.068423         ...                      0.100501
4               0.079600         ...                      0.187175

[5 rows x 3 columns]

In [5]:
cos_sim = raw_cosine_similarity.values

In [6]:
df["cos_sim"] = cos_sim

In [7]:
brand = pd.read_csv("../input/create-brank-features/feature_brand.csv")

In [8]:
brand.head()

   word_in_brand  ratio_brand
0              0          0.0
1              0          0.0
2              2          0.5
3              0          0.0
4              0          0.0

In [9]:
data = pd.concat([df, brand], axis=1)

In [10]:
data.head()

   cos_description_tfidf     ...       ratio_brand
0               0.181655     ...               0.0
1               0.000000     ...               0.0
2               0.000000     ...               0.5
3               0.068423     ...               0.0
4               0.079600     ...               0.0

[5 rows x 6 columns]

In [11]:
spacy = pd.read_csv("../input/575-spacy-similarity-and-common-words/df_all_spacy_sim.csv",sep = "\t")

In [12]:
spacy.columns

Index(['attribute', 'id', 'product_description', 'product_title',
       'product_uid', 'relevance', 'search_term', 'product_info',
       'sim_in_title', 'sim_in_description', 'len_of_query'],
      dtype='object')

In [13]:
spacy = spacy[['sim_in_title', 'sim_in_description', 'len_of_query']]

In [14]:
spacy.head()

   sim_in_title  sim_in_description  len_of_query
0      0.541130            0.514757             2
1      0.389561            0.411949             2
2      0.584328            0.690979             2
3      0.646968            0.659753             3
4      0.792618            0.645468             3

In [15]:
data = pd.concat([data, spacy], axis=1)

In [16]:
com_num = pd.read_csv("../input/csc-575-final-project-common-numbers/df_all_stemmed_cos_sim_num.csv")

In [17]:
com_num.head()

                                           attribute        ...         num_in_attribute
0  Versatile connector for various 90 connections...        ...                      NaN
1  Versatile connector for various 90 connections...        ...                      NaN
2  Brush,Roller,Spray 6.63 in 7.76 in 6.63 in Rev...        ...                      NaN
3  Combo Tub and Shower No Includes the trim kit ...        ...                      NaN
4  Combo Tub and Shower No Includes the trim kit ...        ...                      NaN

[5 rows x 24 columns]

In [18]:
com_num = com_num[['num_in_description','num_in_title', 'num_in_attribute']]

In [19]:
com_num.fillna("No Number appear",inplace=True)

In [20]:
com_num.head()

  num_in_description      num_in_title  num_in_attribute
0   No Number appear  No Number appear  No Number appear
1   No Number appear  No Number appear  No Number appear
2   No Number appear  No Number appear  No Number appear
3   No Number appear  No Number appear  No Number appear
4   No Number appear  No Number appear  No Number appear

In [21]:
com_num = pd.get_dummies(com_num,drop_first=True)

In [22]:
com_words = pd.read_csv("../input/fork-of-575-preprocess-2/feature_common_words.csv")

In [23]:
com_words.head()

   word_in_title       ...         ratio_attribute
0              1       ...                0.500000
1              1       ...                0.500000
2              1       ...                1.000000
3              1       ...                0.666667
4              3       ...                1.000000

[5 rows x 6 columns]

In [24]:
raw_cos = pd.read_csv("../input/575rawcosinesim/raw_cosine_similarity.csv")

In [25]:
raw_cos.head()

   cos_description_stemmed          ...            cos_attribute_stemmed
0                 0.148522          ...                         0.081111
1                 0.000000          ...                         0.000000
2                 0.112906          ...                         0.080845
3                 0.041451          ...                         0.096225
4                 0.124354          ...                         0.144338

[5 rows x 3 columns]

In [26]:
final_data = pd.concat([data, raw_cos, com_num,com_words], axis=1)

In [27]:
final_data.head()

   cos_description_tfidf       ...         ratio_attribute
0               0.181655       ...                0.500000
1               0.000000       ...                0.500000
2               0.000000       ...                1.000000
3               0.068423       ...                0.666667
4               0.079600       ...                1.000000

[5 rows x 24 columns]

In [28]:
final_data.isnull().sum()

cos_description_tfidf                  0
cos_title_tfidf                        0
cos_attribute_tfidf                    0
cos_sim                                0
word_in_brand                          0
ratio_brand                            0
sim_in_title                           0
sim_in_description                     0
len_of_query                           0
cos_description_stemmed                0
cos_title_stemmed                      0
cos_attribute_stemmed                  0
num_in_description_common number       0
num_in_description_no common number    0
num_in_title_common number             0
num_in_title_no common number          0
num_in_attribute_common number         0
num_in_attribute_no common number      0
word_in_title                          0
word_in_description                    0
word_in_attribute                      0
ratio_title                            0
ratio_description                      0
ratio_attribute                        0
dtype: int64

In [29]:
train = pd.read_csv("../input/csc-575-final-project-kaggle-winter-2019/train_new.csv",sep="\t")
test = pd.read_csv("../input/csc-575-final-project-kaggle-winter-2019/test_new.csv",sep="\t")
sub = pd.read_csv("../input/csc-575-final-project-kaggle-winter-2019/sample_submission_new.csv",sep="\t")

In [30]:
train.columns

Index(['id', 'product_uid', 'product_title', 'search_term', 'relevance'], dtype='object')

In [31]:
train = train[['search_term', 'relevance']]

In [32]:
num_train = train.shape[0]

In [33]:
num_train

74067

In [34]:
train_df = pd.concat([final_data[:num_train], train],axis = 1)

In [35]:
train_df.head()

   cos_description_tfidf    ...      relevance
0               0.181655    ...           3.00
1               0.000000    ...           2.50
2               0.000000    ...           3.00
3               0.068423    ...           2.33
4               0.079600    ...           2.67

[5 rows x 26 columns]

In [36]:
test_df = pd.concat([final_data[num_train:].reset_index(drop = True), test],axis = 1, join_axes=[test.index])

In [37]:
test_df.head(15)

    cos_description_tfidf               ...                                   search_term
0                0.331378               ...                              metal l brackets
1                0.210750               ...                              simpson sku able
2                0.210750               ...                          simpson strong  ties
3                0.138427               ...                     simpson strong tie hcc668
4                0.000000               ...                           bath and shower kit
5                0.312646               ...                          one piece tub shower
6                0.355749               ...                                   solar panel
7                0.287195               ...                1 handle shower delta trim kit
8                0.319427               ...                   delta ashland shower faucet
9                0.176656               ...                           self tapping screws
10               0.005532               ...                             3 1/20door casing
11               0.363873               ...                                     door trim
12               0.245453               ...                                 anchor stakes
13               0.253160               ...                                   lawn edging
14               0.223508               ...                        steel landscape edging

[15 rows x 28 columns]

In [38]:
train_df.to_csv("training.csv", index = None)
test_df.to_csv("testing.csv", index = None)

In [39]:
train_df.drop(["search_term"],axis = 1, inplace=True)

In [40]:
train_df.head()

   cos_description_tfidf  cos_title_tfidf    ...      ratio_attribute  relevance
0               0.181655         0.408386    ...             0.500000       3.00
1               0.000000         0.000000    ...             0.500000       2.50
2               0.000000         0.000000    ...             1.000000       3.00
3               0.068423         0.577868    ...             0.666667       2.33
4               0.079600         0.267189    ...             1.000000       2.67

[5 rows x 25 columns]

In [41]:
test_df.drop(["search_term","id","product_uid","product_title"], axis = 1, inplace=True)

In [42]:
test_df.head()

   cos_description_tfidf       ...         ratio_attribute
0               0.331378       ...                0.333333
1               0.210750       ...                0.333333
2               0.210750       ...                0.666667
3               0.138427       ...                0.500000
4               0.000000       ...                0.250000

[5 rows x 24 columns]

In [43]:
train_df.to_csv("features_training.csv", index = None)
test_df.to_csv("features_testing.csv", index = None)