## I found there were two rows having extra delimiters. So I first skipped them and then added them to the end of the csv file. Not sure how to add them back to where they should be.

In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list the files in the input directory
import csv
import os
print(os.listdir("../input"))

# Any results you write to the current directory are saved as output.

['product_descriptions_new.csv', 'test_new.csv', 'relevance_instructions.docx', 'train_new.csv', 'attributes_new.csv', 'sample_submission_new.csv']

In [2]:
attribute = pd.read_csv("../input/attributes_new.csv",sep = "\n", error_bad_lines=False)

In [3]:
attribute.head()

                            product_uid\tname\tvalue
0  100001\tBullet01\tVersatile connector for vari...
1  100001\tBullet02\tStronger than angled nailing...
2  100001\tBullet03\tHelp ensure joints are consi...
3  100001\tBullet04\tDimensions: 3 in. x 3 in. x ...
4         100001\tBullet05\tMade from 12-Gauge steel

In [4]:
r1 = []
r2 = []
r3 = []
for idx, row in attribute.iterrows():
    vals = row.values[0].split("\t")
    r1.append(vals[0])
    r2.append(vals[1])
    r3.append(vals[2])

In [5]:
dt = pd.DataFrame({"product_uid":r1, "name":r2, "value":r3})

In [6]:
dt.to_csv("attributes_new_modified.csv",sep = "\t",index = None)